@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(234, 226, 217);
}

header{
    background-image: url(https://lh3.googleusercontent.com/H5Srp18IyW0VloEZlzk78I6LR86_YUv9IYtuAxarH6Jlu-2yWwDdt_4WQevhQiJnuucP8mGX3egUUF0_OoAOmq_KzC4xYQNXwAGFZSOBw9eXMuLzd0divn5iviDduP8KqhsUrI6bIQ=w2400);
    height: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-bar {
    float: right;
    list-style:none;
    margin-top: 60px;
    margin-right: 420px;
    top: 0;
}

.nav-bar li {
    display: inline-block;
}

.nav-bar li .active {
    background-color: rgb(218, 192, 152);
    border-radius: 10px;
    color: black;
    box-shadow: 7px 7px 5px #5a483b;
}

.nav-bar li a {
    color: black;
    text-decoration: none;
    padding: 5px 45px;
    font-size: 23px;
    font-family: 'comfortaa', sans-serif;
    font-weight:500;
}

.nav-bar li a:hover {
    background-color: rgba(164, 137, 98, 0.685);
    border-radius: 10px;
    color: black;
    font-weight: 500;
}

img{
    float: left;
    top: 5%;
    width: 100px;
    left: 4%;
    position: absolute;
}


.menu-bar{
    float: right;
    list-style:none;
    width: 100px;
    top: 38%;
    left: 85%;
    position: absolute;
    letter-spacing: 1px;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
}
  
.menu-bar li a {
    text-align: right;
    display: block;
    color: #000;
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    padding: 30px 10px;
    text-decoration: none;
}

.menu-bar li a:hover {
    background-color: rgba(218, 192, 152, 0.388);
    color: black;
}

.menu-bar li .active{
    border-right: 3px solid #a96e40;
}

.liquid-text h1{
    color: #5d291f;
    font-family: 'Comfortaa', sans-serif;
    font-size: 85px;
    top: 25%;
    left: 4%;
    position: absolute;
}

.liquid-text p{
    text-align: justify;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    top: 36.5%;
    left: 4.4%;
    right: 60%;
    position: absolute;
}

.liquid-container p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-style: italic;
    top: 21%;
    left: 4.4%;
    position: absolute;
}

.ingredient-text{
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: bold;
    top: 55.5%;
    left: 4.4%;
    position: absolute
}

.ingredients{
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    margin-right: 1200px;
    top: 59%;
    left: 4.4%;
    position: absolute
}

.sizemain{
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    color: rgb(172, 172, 172);
    font-weight: 400;
    top: 74%;
    left: 4%;
    position: absolute;
}

.sizesmall{
    font-family: 'Comfortaa', sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 400;
    top: 80%;
    left: 6%;
    position: absolute;
}

.sizelarge{
    font-family: 'Comfortaa', sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 400;
    top: 80%;
    left: 18%;
    position: absolute;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.parent button {
    background-color: transparent;
    border: 3px solid white;
    padding: 5px;
    height: 25px;
    width: 25px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    top: 79.5%;
    left: 4%;
    position: absolute;
    transition: all 0.2s ease;
}
  
.parent button:active {
    background-color: rgb(212, 160, 62);
    box-shadow: 0 0 2px darkslategray;
}

.parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.parent2 button {
    background-color: transparent;
    border: 3px solid white;
    padding: 5px;
    height: 25px;
    width: 25px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    top: 79.5%;
    left: 16%;
    position: absolute;
    transition: all 0.2s ease;
}
  
.parent2 button:active {
    background-color: rgb(212, 160, 62);
    box-shadow: 0 0 2px darkslategray;
}

.round{
    border-radius: 70%;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.order button {
    font-family: 'Comfortaa', sans-serif;
    color: rgb(222, 222, 222);
    font-size: 25px;
    font-weight: 500;
    background-color: rgba(202, 68, 68, 0.734);
    padding: 5px;
    height: 80px;
    width: 240px;
    cursor: pointer;
    top: 87%;
    left: 4%;
    position: absolute;
    transition: all 0.2s ease;
}
  
.order button:active {
    background-color: rgb(212, 160, 62);
}

.square{
    border-radius: 0%;
}